<div class="admin-menu">
    <ul>
      <li>
        <a href="/admin/anasayfa" class="admin-menu-link">
        <i class="fa-solid fa-user"></i>
          Kullanıcılar
          <i class="fa-solid fa-angle-right admin-menu-effect-icon"></i>
        </a>
      </li>
      <li>
        <a href="/admin/markalistele" class="admin-menu-link">
            <i class="fa-solid fa-copyright"></i>
          Markalar
          <i class="fa-solid fa-angle-right admin-menu-effect-icon"></i>
        </a>
      </li>
      <li>
        <a href="/admin/urunlist" class="admin-menu-link">
        <i class="fa-brands fa-product-hunt"></i>
          Ürünler
          <i class="fa-solid fa-angle-right admin-menu-effect-icon"></i>
        </a>
      </li>
      <li>
        <a href="/admin/kategorilistele" class="admin-menu-link">
            <i class="fa-solid fa-lines-leaning"></i>
          Kategoriler
          <i class="fa-solid fa-angle-right admin-menu-effect-icon"></i>
        </a>
      </li>
      <li>
        <a href="/admin/satislar" class="admin-menu-link">
            <i class="fa-solid fa-coins"></i>
          Satışlar
          <i class="fa-solid fa-angle-right admin-menu-effect-icon"></i>
        </a>
      </li>
    </ul>
  </div>