<footer class="bg-dark p-5 mt-5">
    <div class="">
        <div class="footer-head">
            <h2 class="text-white">Elektronik Sepeti</h2>
        </div>
        <div class="footer-des">
            <ul class="d-flex mt-4">
                <li><a class="d-flex p-2" href="/">Ana Sayfa</a></li>
                <li><a class="d-flex p-2" href="/urunbilgilendirme">Ürün Bilgilendirme</a></li>
                <li><a class="d-flex p-2" href="/iletisim">İletişim</a></li>
            </ul>
        </div>
    </div>
</footer>