<div class="home">
  <form
    action="/giris"
    class="d-flex justify-content-center form-login aligin-items-center"
    method="post"
  >
    <% if(sessionFlash) {%>
      <div class="<%=sessionFlash.type %>">
          <%=sessionFlash.message %>
      </div>
      <%}%>

    <h2>Girş Yap</h2>
    <div class="login-inps">
      <label for="email">Email</label>
      <input required type="email" name="email" id="" />
    </div>
    <div class="login-inps">
      <label for="paas">Şifre</label>
      <input required type="password" name="paas" id="" />
    </div>
    <div class="login-sub-btn">
      <button>Giriş</button>
    </div>
  </form>
</div>
