<div class="home">
    <form action="/sparisitamamla" style="height: 800px !important; flex-direction: row;" class="d-flex justify-content-center form-login aligin-items-center"  method="post">
      <div class="user-photo mr-5">
        <div class="chard-photo">
          <img src="/images/b85e2b5a-9e91-458c-8ba3-11297ac31510 (1).svg" alt="">
        </div>
      </div>
      <div class="user-inputs">
        <div class="users-ex">
          <div class="login-inps">
            <label for="email">Kart Numarası</label>
            <input id="ccn" type="tel"  class="txtcredychard"  maxlength="19"  placeholder="xxxx xxxx xxxx xxxx">
          </div>
          <div class="login-inps-ds d-flex justify-content-between">
            <div>
              <label>Kart Son Kullanım Tarihi</label>
              <div>
                <input class="last-use-inp" required type="number" placeholder="AA"  max="99" name="email" id="" >
                <label class="last-use-label">/</label>
                <input class="last-use-inp" required type="number" placeholder="YY"  name="email"  max="99" id="" >
              </div>
            </div>
            <div>
              <label>CVV</label>
              <div>
                <input class="last-use-inp" required type="number" placeholder="AA"  max="999" name="email" id="" >
              </div>
            </div>
           
          </div>
          <div>
            <label>Adress</label>
            <div>
              <textarea class="asdss w-100" name="email" ></textarea>
            </div>
          </div>
          <div class="login-sub-btn">
              <button>Ekle</button>
          </div>
        </div>
      </div>
    </form>
  </div>