<div class="contract__content p-5">
    <p class="p2"><b>Alıcının İade Halinde Malı Satıcıya Göndereceği Kargo Şirketi</b> :Yurtiçi Kargo</p>
    <p class="p2">İşbu ön bilgilendirme formu kapsamında Alıcıya siparişinin detayları hakkında bilgilendirme yapılmakta
        olup, Alıcının Mal/Hizmet’in online olarak satın alınmasına ilişkin olarak 29188 Sayılı Mesafeli Sözleşmeler
        Yönetmeliği gereğince mesafeli satış sözleşmesini onaylaması gerekmektedir. Alıcı ön bilgilendirme formu ve
        mesafeli satış sözleşmesine ilişkin bilgileri üyeliğinin bağlı olduğu “Hesabım” sayfasından takip edebilecek ve
        siparişine ilişkin verdiği bilgileri “Hesabım” sayfasından değiştirebilecektir. Ön bilgilendirme formu ve
        mesafeli satış sözleşmesi Elektronik Sepeti tarafından kayıt altına alınmakta olup, Alıcı dilediği zaman “Hesabım”
        sayfasından metinlere ulaşım sağlayabilecektir. Aracı Hizmet Sağlayıcı tarafından Alıcı Üyelik Sözleşmesi’nde ve
        üyelik sürecinde belirtilen gizlilik kuralları uygulanmaktadır.</p>
    <p class="p2"><span class="s1"><b>SÖZLEŞME KONUSU MAL VE HİZMETİN TEMEL NİTELİKLERİ ve FİYATI (KDV DAHİL)</b></span>
    </p>
    <table cellspacing="0" cellpadding="0" class="t1">
        <tbody>
            <tr>
                <td class="td1"><br>
                    <p class="p4">Ürün Kodu ve Adı</p><br>
                </td>
                <td class="td1"><br>
                    <p class="p4">Adet</p><br>
                </td>
                <td class="td1"><br>
                    <p class="p4">Satıcı Ünvanı</p><br>
                </td>
                <td class="td1"><br>
                    <p class="p4">Birim Fiyatı</p><br>
                </td>
                <td class="td1"><br>
                    <p class="p4">Birim İndimi</p><br>
                </td>
                <td class="td1"><br>
                    <p class="p4">Kupon</p><br>
                </td>
                <td class="td1"><br>
                    <p class="p4">Puan</p><br>
                </td>
                <td class="td1"><br>
                    <p class="p4">Toplam Satış Tutarı</p><br>
                </td>
                <td class="td1"><br>
                    <p class="p4">Vade Farkı</p><br>
                </td>
                <td class="td1"><br>
                    <p class="p4">KDV Dahil Toplam Tutar</p><br>
                </td>
            </tr>
            <tr>
                <td class="td1"><br></td>
                <td class="td1"></td>
                <td class="td1"></td>
                <td class="td1"></td>
                <td class="td1"></td>
                <td class="td1"></td>
                <td class="td1"></td>
                <td class="td1"></td>
                <td class="td1"></td>
                <td class="td1"><br></td>
            </tr>
        </tbody>
    </table>
    <p><br></p>
    <table cellspacing="0" cellpadding="0" class="t1">
        <tbody>
            <tr>
                <td class="td1">
                    <p class="p4"><b>Kargo ve Teslimat Bilgisi: Alıcı’nın belirteceği teslimat adresinde kendisine ya da
                            yetkili kılacağı kişiye anlaşmalı kargo şirketi tarafından teslim edilecektir.</b></p>
                </td>
            </tr>
        </tbody>
    </table>
    <p class="p2"><span class="s1"><b><br>ÖDEME VE TESLİM ŞARTLARI</b></span></p>
    <p class="p2"><b>Kargo/Teslimat Bedeli Hariç Toplam Ürün Bedeli:</b><b>Kargo ya da Teslimat Ücreti:</b></p>
    <p class="p2"><b>Kargo Dahil Toplam Bedel:</b></p>
    <p class="p2"><b>Ödeme Şekli ve Planı</b>: kredi kartı ile tek çekim olarak ödeme / KDV Dahil XX.00 TL</p>
    <p class="p2"><b>Teslim Şartları : </b>Alıcı tarafından satın alma esnasında seçilen teslimat adresinde kendisine
        veya kendi adına yetkili olarak göstereceği kişilere elden teslimat şeklindedir. Alıcı, ürünü teslim belgesini
        imzalamak suretiyle teslim alacak ve teslim alırken ürünlerin tam ve gereği gibi olup olmadığını kontrol
        edecektir. Alıcı tespit edeceği her türlü sorunu ve kusuru derhal Satıcı’ya bildirmek ve eğer teslim alacaksa da
        bunu teslimat formuna yazdırmak zorundadır. Aksine meydana gelecek durumlardan Satıcı’nın hiçbir surette
        sorumluluğu olmayacaktır.</p>
    <p class="p1"><b></b></p>
    <p class="p2"><b>Abonelik İlişkisi</b>: Alıcı’nın belirtilen abonelik paketlerinden birini satın almış olması
        durumda, seçilen ürünler, taahhüt edilen sürelerde Satıcı tarafından, işbu Form’ds belirtilen şartlarda teslim
        edilecektir.</p>
    <p class="p2">Satın alınan abonelik paketine dair cayma hakkının kullanılması ya da abonelik ilişkisinin Üyelik
        Sözleşmesi’ne uygun olarak sona erdirilmesi durumunda, teslim edilen ürünlere dair ödenen kısım iadeye söz
        konusu olmayacak, teslim edilmemiş ürünlere dair herhangi bir tahsilat yapılmışsa iade söz konusu olacaktır.</p>
    <p class="p2"><span class="s1"><b>İADE VE CAYMA HAKKI<br></b></span>Alıcı mal/hizmetin kendisine tesliminden
        itibaren, hiçbir gerekçe göstermeksizin 14 (ondört) gün içinde cayma hakkını; Websitesinde ilgili bölümü
        kullanarak mal/hizmeti iade edebilir. <span class="s1"><b>Ancak ürünün hijyenik ve kozmetik özelliği gereği,
                paketinin ya da ambalajının açılmamış olması ve dolayısıyla da kullanılmamış olması
                gereklidir.</b></span> Alıcı, cayma hakkı kullanım bildirimini Websitesi üzerinden Satıcı’ya ulaştırır.
        Satıcı, Alıcı’nın cayma beyanının kendisine ulaşmasından itibaren 14 (ondört) gün içinde mal/hizmet bedelini
        iade etmekle yükümlüdür. Alıcı, cayma hakkını kullanmasından itibaren, 10 (on) gün içinde malı Satıcı’ya geri
        gönderir. Malın iade alınamaması için haklı sebeplerin varlığı halinde Satıcı, sözleşmedeki ifa süresi dolmadan
        Alıcı’ya eşit kalite ve fiyatta mal/hizmet tedarik edebilir. Satıcı mal/hizmetin ifasının imkânsızlaştığını
        düşünüyorsa, bu durumu öğrendiği tarihten itibaren 3 (üç) gün içinde Alıcı’ya bildirir. Bu durumda Satıcı,
        ödenen bedeli ve varsa belgeleri 14 (ondört) gün içinde Alıcı’ya iade eder. Alıcı iade edeceği mal/hizmeti
        önbilgilendirme formunda belirtilen Satıcı’nın anlaşmalı kargo şirketi ile Satıcı’ya gönderdiği sürece, iade
        kargo bedeli Satıcı’ya aittir. Alıcı’nın iade edeceği malı ön bilgilendirme formunda belirtilen Satıcı’nın
        anlaşmalı kargo şirketi dışında bir kargo şirketi ile göndermesi halinde, iade kargo bedeli ve malın kargo
        sürecinde uğrayacağı hasardan Satıcı sorumlu değildir. Mal ile beraber fatura da, mevcut olması halinde, ilgili
        iade bölümünü doldurularak ve Alıcı tarafından imzalanarak teslim edilmelidir.</p>
    <p class="p2"><span class="s1"><b>CAYMA HAKKININ KULLANILAMAYACAĞI HALLER<br></b></span>Cayma hakkı aşağıdaki
        hallerde kullanılamaz:</p>
    <p class="p2">a) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve&nbsp;satıcının kontrolünde
        olmayan mal veya hizmetlere ilişkin sözleşmelerde (Ziynet, altın ve gümüş kategorisindeki ürünler)</p>
    <p class="p2">b)Tüketicinin istekleri veya açıkça onun kişisel ihtiyaçları doğrultusunda hazırlanan, niteliği
        itibariyle geri gönderilmeye elverişli olmayan ve çabuk bozulma tehlikesi olan veya son kullanma tarihi geçme
        ihtimali olan malların teslimine ilişkin sözleşmelerde</p>
    <p class="p2">c) <span class="s1"><b>Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış
                olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin
                sözleşmelerde</b></span></p>
    <p class="p2">d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara
        ilişkin sözleşmelerde</p>
    <p class="p2">e) Tüketici tarafından ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması şartıyla
        maddi ortamda sunulan kitap, ses veya görüntü kayıtlarına, yazılım programlarına ve bilgisayar sarf
        malzemelerine ilişkin sözleşmelerde</p>
    <p class="p2">f) Abonelik sözleşmesi kapsamında sağlananlar dışında gazete, dergi gibi süreli yayınların teslimine
        ilişkin sözleşmelerde</p>
    <p class="p2">g) Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek
        içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine ilişkin sözleşmelerde
    </p>
    <p class="p2">h) Bahis ve piyangoya ilişkin hizmetlerin ifasına ilişkin sözleşmelerde</p>
    <p class="p2">ı) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin
        sözleşmelerde</p>
    <p class="p2">i) Elektronik ortamda anında ifa edilen hizmetler ile tüketiciye anında teslim edilen gayri maddi
        mallara ilişkin sözleşmelerde ve sözleşmeye konu Mal/Hizmet’in Mesafeli Sözleşmeler Yönetmeliği’nin uygulama
        alanı dışında bırakılmış olan (satıcının düzenli teslimatları ile alıcının meskenine teslim edilen gıda
        maddelerinin, içeceklerin ya da diğer günlük tüketim maddeleri ile seyahat, konaklama, lokantacılık, eğlence
        sektörü gibi alanlarda hizmetler) Mal/Hizmet türlerinden müteşekkil olması halinde Alıcı ve Satıcı arasındaki
        hukuki ilişkiye Mesafeli Sözleşmeler Yönetmeliği hükümleri uygulanamaması sebebiyle cayma hakkı
        kullanılamayacaktır.</p>
    <p class="p2"><span class="s1"><b>UYUŞMAZLIKLARIN ÇÖZÜMÜ<br></b></span>İşbu Ön Bilgilendirmenin uygulanmasında,
        Sanayi ve Ticaret Bakanlığınca ilan edilen değere kadar Alıcının Mal veya Hizmeti satın aldığı ve ikametgahının
        bulunduğu yerdeki Tüketici Hakem Heyetleri ile Tüketici Mahkemeleri yetkilidir. 6502 Sayılı Tüketicinin
        Korunması Hakkında Kanun’un 68’nci. Maddesinin 1. fıkrasında belirtilen alt ve üst limitler doğrultusunda
        tüketici talepleri hakkında ilçe/il tüketici hakem heyetleri yetkilidir.</p>
    <p class="p2"><span class="s1"><b>Yukarıdaki bilgiler uzaktan iletişim araçlarına uygun olarak ve iyi niyet ilkeleri
                çerçevesinde ergin olmayanlar ile ayırtım gücünden yoksun veya kısıtlı erginleri koruyacak şekilde
                ticari amaçlarla verilmiştir.</b></span></p>
    <p><br></p>

</div>