<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style.css" />
    <title>Elektronik Sepeti</title>
  </head>
  <body>
    <nav class="all-nav-bar">
      <a href="#Home">
        <h3>Elektronik Sepeti</h3>
      </a>
      <div class="nbc-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" />
        <button>Ara</button>
      </div>
        <ul class="sed">
          <li><a href="/">Giriş Yap</a></li>
          <li><a href="/">Kayıt Ol</a></li>
          <li><a href="/">Ana Sayfa</a></li>
          <div class="sdes">
            <li class="list-Hesabim mt-4">
              <i class="fa-solid fa-user"></i>
              Hesabım
            </li>
            <div class="list-menu" style="position: absolute">
              <i
                style="
                  position: absolute;
                  top: 8px;
                  right: 8px;
                  color: rgb(83, 83, 83);
                  font-size: 20px;
                "
                class="fa-solid fa-circle-xmark hesabimMenuKapamaIcon"
              ></i>
              <ul>
                <li>
                  <a href="#KullaniciBilgilerim"> Siparişlerim </a>
                </li>
                <li>
                  <a href="#KullaniciBilgilerim"> Kullanıcı Bilgilerim </a>
                </li>
                <div class="line"></div>
                <li>
                  <a href="#KullaniciBilgilerim">
                    Çıkış Yap
                    <i
                      style="margin-left: 10px"
                      class="fa-solid fa-arrow-right-from-bracket"
                    ></i>
                  </a>
                </li>
              </ul>
            </div>
            <li><a href=""></a></li>
          </div>
        </ul>
    </nav>

    <div class="all-con-extra">
      <div class="con-home">
        <div class="home">
       
        </div>
      </div>
    </div>
      <script src="./assets/main.js"></script>
  </body>
</html>
