<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style.css" />
    <title>Elektronik Sepeti</title>
  </head>
  <body>
    <div class="all-con-extra">
      <div class="con-home">
        <div class="all-nav-bar">
          <a href="#Home">
            <h3>Elektronik Sepeti</h3>
          </a>

          <input type="text" />
        </div>
        <div class="home p-5">
          <table class="table">
            <thead>
              <td></td>
              <td>Kart İsimi</td>
              <td>Kart Numarası</td>
              <td>Sil</td>
            </thead>
            <tbody>
              <tr class="tr-credy-card">
                <td scope="row" class=""><img width="60px" src="/images/b85e2b5a-9e91-458c-8ba3-11297ac31510 (1).svg" alt=""></td>
                <td class="align-middle">Örnek Kart</td>
                <td class="align-middle">23121932183</td>
                <td class="align-middle"><button class="btn-danger btnrad p-2" >Sil</button></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="./assets/main.js"></script>
  </body>
</html>
